            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">group</i>
                    </div>
                    <p class="card-category">Estudiantes</p>
                    <h3 class="card-title" title="Estudiantes activos: 854 • Bajas: 15">854/15</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons text-warning">warning</i>
                      <a href="javascript:;" class="warning-link">+5 nuevos esta semana</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                     <i class="material-icons">attach_money</i>
                    </div>
                    <p class="card-category">Pagos / Finanzas</p>
                    <h3 class="card-title" title="Monto total de pagos pendientes">-$12,500</h3>

                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">local_offer</i> Total: $12,500 MXN · 4 alumnos con deuda
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons" title="Cursos activos">menu_book</i>
                    </div>
                    <p class="card-category">Cursos activos</p>
                    <h3 class="card-title">18</h3>
                  </div>
                  <div class="card-footer">
              <div class="stats">
        <i class="material-icons">update</i>
        Última actualización: hace 1 min
      </div>
                  </div>
                </div>
              </div>


    {% comment %}           <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">content_cut</i>
                    </div>
                    <p class="card-category">Cortado - Cociendo</p>
                    <h3 class="card-title">00/00</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">update</i> Pendiente: 00
                    </div>
                  </div>
                </div>
              </div> {% endcomment %}



            </div>