{% load static %}

<head>  
  {% include "panel/head2.html" %}  
  <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>



<!-- Google tag (gtag.js) ok -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-75N65E7G2B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-75N65E7G2B');
</script>

